
<%- include("partials/header"); -%>
    
    <form class="" action="/compose" method="post">
      <div class="form-group">
        <label>Title of the Review</label>
        <input class="form-control" type="text" name="postTitle">
        <label>Review</label>
        <textarea class="form-control" name="postBody" rows="5" cols="30"></textarea>
      </div>
      <button class="btn btn-primary" type="submit" name="button">Share the review</button>
    </form>

